apiVersion: apps/v1
kind: Deployment
metadata:
 name: todo-app-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
     containers:
      - name: todo-container
        image: leigha1234/todo-app:v1
        ports:
        - containerPort: 3000